html { /* Aplica a todos los elementos y al elemento html */
    box-sizing: border-box; /* Incluye padding y border en el tamaño total */
    font-family: 'Open Sans', sans-serif; /* Define 'Open Sans' como la fuente base */
  }
 

html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #05866db7;
    background-image: radial-gradient(circle, rgba(12, 100, 85, 0.252) 20%, transparent 20%);
    background-size: 35px 45px;
    height: 30vh;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    margin-left: 50px;
    margin-right: 50px;
    row-gap: 20px; /* Espacio vertical entre las áreas del grid */
    grid-template-areas:
        "title"
        "contenido"
        "proyectos";
}

h1, h2, p {
    text-align: center;
}

h1 {
    font-size: 4em;
    font-weight: bold;
    color: #058263bc;
    text-shadow: 1px 1px 1px rgb(2, 68, 55), 2px 2px 1px rgb(2, 62, 38);
    font-family: "DM Serif Text", serif;
    font-weight: 400;
}

h2 {
    font-size: 30px;
    font-weight: lighter;
    color: rgb(6, 63, 62);
    font-family: "Caveat", cursive;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
}

p {
    font-size: 18px;
    margin-top: 20px;
    font-family: "Gowun Batang", serif;
    font-weight: 700;
}

.title {
    grid-area: title;
    padding-left: 30px;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0; /* Eliminado espacio extra */
}

.proyectos {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 30px;
    height: 250px;
    align-items: center;
    padding-bottom: 20px;
    width: 100%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0);
    margin-top: 10px;
}

.proyectos nav {
    display: contents;
}

.proyectos a {
    display: inline-block;
    flex: 45%;
    scroll-snap-align: start;
    text-align: center;
}

.proyectos nav a img {
    width: 90%;
    display: block;
    border: 3px solid transparent;
}

.proyectos nav a:hover img {
    filter: blur(5px);
    opacity: 90%;
}

.box {
    border-style: solid;
    border-width: 1px;
    border-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #0dd3ac;
    font-family: 'Caveat', cursive;
    font-size: 16px;
    font-weight: bold;
    color: rgb(2, 54, 31);
    padding-bottom: 5px;
    transition: width 2s, height 2s, background-color 2s, rotate 2s;
}

.box:hover {
    background-color: #07634b;
    width: 130px;
    height: 130px;
    rotate: 180deg;
}

@media (max-width: 900px) {
    main {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        margin: 0 10px;
    }

    h1 {
        font-size: 3em;
    }
}
